.navbar {
	background: rgb(20, 24, 85);
	background: linear-gradient(
		180deg,
		rgba(20, 24, 85, 1) 0%,
		rgba(17, 105, 209, 1) 100%
	);
	border-bottom: 1px solid rgba(35, 229, 243, 0.678);
}

.btn {
	color: white;
	border: 1px solid rgba(17, 105, 209, 1);
	outline: 1px solid white;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
	overflow: hidden;
}

.btn:hover {
	color: #fff;
}

.btn span {
	position: relative;
	z-index: 2;
	transition: 0.3s;
}
.btn::after {
	content: '';
	width: 150%;
	position: absolute;
	z-index: 1;
	top: 0;
	border-bottom: 40px solid rgb(93, 129, 175);
	right: 120%;
	transform: skewX(35deg);
	transition: 0.4s;
}

.btn:hover::after {
	right: -20%;
	color: rgba(17, 105, 209, 1);
}
.input_search {
	outline: none;
	border: 1px solid rgba(17, 105, 209, 1);
}
.input_search:hover {
	border: 2px solid rgba(17, 105, 209, 1);
}
